body{
    background-color:  #d3d3d3;
}
.wrap{
    background-color: #ffffff;
    height: 500px;
    width: 50vh;
    border: #000000 10px dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    background-color: #FFFF00;
    height: 50px;
    width: 30%;
}
.flex-container{
background-color:#ff8c00;
height: 100px;
width: 30%;
    
}
.outputContainer{
    background-color: #008000;
    font-size: 30px;
    padding: 50px;
    margin: 50px 0 0 50px;
}
p{
color: #ffffff;
}